apiVersion: operators.coreos.com/v1alpha1
kind: ClusterServiceVersion
metadata:
  annotations:
    containerImage: {{ CONTROLLER_MANAGER_IMAGE }}
  name: habana-ai-operator.v99.0.0
  namespace: placeholder
