- op: replace
  path: /metadata/annotations/olm.skipRange
  value: '>=0.0.0 <{{ VERSION }}'
- op: replace
  path: /metadata/name
  value: habana-ai-operator.v{{ VERSION }}
- op: replace
  path: /spec/version
  value: {{ VERSION }}
